{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'authenticator/infostyles.css' %}">
</head>
<body>
    <div class="all">
        <nav id="navbar">
            <ul>
                <li>Logo</li>
                <li>Home</li>
                <li>Store</li>
                <li>Community</li>
                <li>About</li>
                <li>Support</li>
                <li>login notification search</li>
                <li> <a href="/logout"><i class="fa fa-right-from-bracket"></i><span class="icon-text">LogOut</span></a></li>
                <li> <a href="/login"><i class="fa fa-right-to-bracket"></i><span class="icon-text">LogIn</span></a></li>
                <li> <a href="/signup"><i class="fa fa-right-user"></i><span class="icon-text">Sign Up</span></a></li>
            </ul>
        </nav>
        <div class="welcome">
            <div class="container">
                <div class="content">
                    <h1>Welcome to <a href="" class="name">AccuReport</a> , <br> a digital platform here to <br>
                    help you save a life</h1>
                    <button type="submit" name="sendReport" id="contactHelp">Emergency Helpline</button> <button type="submit" name="CrimeReport" id="reportCrime">Crime Report</button>
                </div>
                <div class="form-cont">
                    <div class="reportForm">
                        <h2>Report an Accident</h2>
                        <hr>
                        <!-- Report Form -->

                        <form action="" method="post" id="report">
                            Enter your name: <br>
                            <input type="text" name="witnessName"> <br>
                            Describe the scene: <br>
                            <textarea name="description" id="" cols="30" rows="5"></textarea> <br>
                            Date and Time of Occurrence: <br>
                            <input type="text" name="timeOfAccident"> <br>
                            Upload image of the scene: <br>
                            <input type="file" id="cameraInput" accept="image/*" capture="environment"><br>
                            Location of the accident: <br>






                        </form>

                    </div>

                </div>

            </div>
               
        </div>
        <div class="userpage">
            
            


        </div>
        <div class="info">

        </div>
        <div class="contact">

        </div>
</div>
<div class="bottom">
    <div class="sec">
        <h2>STEAM</h2>
        <p>The ultimate entertainment platform</p>
        {% if name %}
            <h1>Hello {{ name }}</h1>
            {%else %}
            <h1>Hello world no name</h1>
            {% endif %}

        <div class="image-cont">
            <div class="tra"><h1>Hello this is nathan He has the best packs</h1><div class="it"></div></div>

        </div>
        


    </div>
    
    


</div>
<script>
    const listButtons = document.querySelectorAll('li');

    listButtons.forEach(item => {
        item.addEventListener('click', (event) => {
            const link = item.querySelector('a');
            if(link) {
                window.location.href = link.href;
            }

        });
        item.style.cursor = 'pointer';
    });
    function changeBg(){
        var nav = document.getElementById('navbar');
        var scrollval = window.scrollY;
        if(scrollval < 150){
            nav.classList.remove("navbar");
        } else {
            nav.classList.add("navbar");
        }       
    }
    window.addEventListener('scroll', changeBg);

    const form = document.getElementById('report');
const cameraInput = document.getElementById("CameraInput");

form.addEventListener("submit", (event) => {
  event.preventDefault(); // Prevent the default submit.

  navigator.mediaDevices.getUserMedia({ video: true })
    .then((stream) => {
      // Camera access granted.
      console.log("Camera access granted!");
      cameraInput.click(); // Simulate a click on the input field to trigger image capture.
      stream.getTracks().forEach((track) => track.stop()); // Stop the camera stream after capture.
    })
    .catch((error) => {
      // Camera access denied.
      console.error("Camera access denied:", error);
      alert("Do you want to allow AccuReport to access your camera?");
    });
});

</script>
    
    
</body>
</html>